// textcolor
$text-heading: #032321;
$text-body: #1d312f;
$text-muted: #637775;

$purple: #4f2c47;
$purple-dark: #200e26;
$lime: #b8de20;
$aqua: #185853;
$formCaution: #637775;

// gradients
$lime-gradient: linear-gradient(268.96deg, #b8de20 4.24%, #e4ff79 92.28%);
$green-gradient: linear-gradient(289.97deg, #006f5b 2.37%, #000000 100%); ;
