@import "colors";
.container {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  // ==========================scrollbar===================
  &::-webkit-scrollbar {
    display: block;
    width: 0.45rem;
    background-color: transparent;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20rem;
    background-color: $lime;
    border: 3px solid transparent;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $aqua;
    cursor: pointer;
  }
}
@media (max-width: 600px) {
  .container {
    &::-webkit-scrollbar {
      display: block;
      width: 0.21rem;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
