@import "colors";
// google import
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

$Inter: "Inter", sans-serif;
$Poppins: "Poppins", sans-serif;

@mixin heading {
  font-family: $Inter;
  font-size: max(5rem);
  font-style: normal;
  font-weight: bold;
  line-height: 81px;
  color: $text-heading;
}
@mixin semiHeading {
  font-family: $Inter;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 600;
  color: $text-heading;
}
@mixin headingNormal {
  font-family: $Inter;
  font-size: max(5rem);
  font-style: normal;
  font-weight: normal;
  line-height: 81px;
  color: $text-heading;
}
@mixin titleText {
  font-family: $Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  color: $purple-dark;
}
@mixin fontBody {
  font-family: $Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  color: $text-heading;
}
@mixin fontBodyItalic {
  font-family: $Inter;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 500;
  color: $text-heading;
}
@mixin guaranteeText {
  font-family: $Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  color: rgba(3, 35, 33, 0.62);
}
@mixin fontBodyCTA {
  font-family: $Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: bold;
  line-height: 78px;
  color: $text-heading;
}
@mixin fontBodyCTASecondary {
  font-family: $Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: rgba(3, 35, 33, 0.62);
}
@mixin navlink {
  font-family: $Inter;
  font-style: italic;
  font-weight: bold;
  font-size: 2.81rem;
  color: $text-heading;
}
@mixin formWarning {
  font-family: $Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  color: $formCaution;
}
$headingFontSizeMobile: 18vw;
$headingFontSizeMidMobile: 15vw;
