@import "colors";
// google import
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

$Inter: "Inter", sans-serif;
$Poppins: "Poppins", sans-serif;

@mixin heading {
  font-family: $Inter;
  font-size: max(5rem);
  font-style: normal;
  font-weight: bold;
  line-height: 81px;
  color: $text-heading;
}
@mixin fontBody {
  font-family: $Inter;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 78px;
  color: $text-heading;
}
@mixin fontBodyCTA {
  font-family: $Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: bold;
  line-height: 78px;
  color: $text-heading;
}
@mixin navlink {
  font-family: $Inter;
  font-style: italic;
  font-weight: bold;
  font-size: 2.81rem;
  color: $text-heading;
}
