@import "fonts";
.home {
  margin-top: 4.5rem;
  height: 800px;
  display: flex;
  flex-direction: column;
  h1 {
    @include heading;
  }
  main {
    display: flex;
    flex-direction: column;
    body {
      display: flex;
      justify-content: space-between;
      p {
        @include fontBody;
        line-height: 32px;
        align-self: center;
      }
      aside {
        align-self: center;
        position: relative;
        img {
          z-index: 1;
          filter: drop-shadow(0px 4px 39px rgba(3, 35, 33, 0.32));
        }
        .background__glow {
          z-index: -1;
          position: absolute;
          width: 224px;
          height: 224px;
          border-radius: 50%;
          background: #4f2c47;
          top: 3.75rem;
          left: 0.5rem;
          filter: blur(90px);
        }
      }
    }
  }
}
// ===============================used in component=============
.textContainer {
  user-select: none;
  display: flex;
  align-items: center;
  .cta {
    position: relative;
    a {
      @include fontBodyCTA;
      text-decoration: none;
      position: relative;
      z-index: 1;
    }
    .tick {
      position: absolute;
      top: 45%;
      right: 1%;
      z-index: -1;
    }
  }
  .arrow {
    margin-left: 1.2rem;
  }
}

// =========Responsive==============
@media (max-width: 600px) {
  .home {
    margin-top: 2.5rem;
    h1 {
      font-size: 18vw;
      line-height: 18vw;
    }
    main {
      body {
        flex-direction: column;
        p {
          margin: 4rem 0;
        }
      }
      footer {
        align-self: center;
        margin: 1rem;
      }
    }
  }
}
