@import "container";
@import "size";
@import "colors";
.containerLayout {
  min-height: 100vh;
  position: relative;
  width: 90%;
  margin: auto;
  // user-select: none;
  header {
    position: absolute;
    z-index: 100;
    background-color: #fff;
    width: 100%;
  }
  .body {
    position: absolute;
    z-index: 1;
    top: $navbar__size;
    width: 100%;
  }
}

@media (min-width: 1800px) {
  .containerLayout {
    width: 1729px;
  }
}
