@import "container";
@import "size";
.container {
  min-height: 600px;
  position: relative;
  user-select: none;
  header {
    position: absolute;
    z-index: 100;
    background-color: #fff;
    width: 100%;
  }
  .body {
    position: absolute;
    z-index: 1;
    top: $navbar__size;
    width: 100%;
  }
}
