.roundButton-megaContainer {
  display: flex;
}
.roundButton-Container {
  position: relative;
  cursor: pointer;
  .arrow {
    position: absolute;
    right: calc(100% - 45px);
    top: 18px;
  }
  .arrow-invisible {
    visibility: hidden;
    position: absolute;
    left: calc(100% + 45px);
    top: 18px;
    transform: rotate(0.5turn);
  }
}
.circle-Container {
  position: relative;
  cursor: pointer;
  // ========  outer  ========
  .circle-outer {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50rem;
    background-color: #e4f4a4;
    box-shadow: 0px 4px 4px rgba(0, 132, 69, 0.39);
  }
  // ========  inner  ========
  .circle-inner {
    position: absolute;
    width: 67px;
    height: 67px;
    border-radius: 50rem;
    background-color: #b8de20;
    bottom: -70px;
    transition: all 2s linear 1s;
  }
  .circle-inner-hover {
    position: absolute;
    width: 67px;
    height: 67px;
    border-radius: 50rem;
    transition: all 2s linear 1s;
    top: 0px;
    background: linear-gradient(147.07deg, #b8de20 16.21%, #016956 83.71%);
  }
}
